@model SPS.Models.Teacher

@{
    ViewData["Title"] = "Teac_Details";
}

<h1>Teac_Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alter_Contect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alter_Contect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Education)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Education)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Join_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Join_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.January)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.January)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.February)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.February)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.March)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.March)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.April)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.April)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.May)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.May)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.June)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.June)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.July)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.July)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.August)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.August)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.September)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.September)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.October)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.October)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.November)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.November)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.December)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.December)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Teac_Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Teac_Table">Back to List</a>
</div>
