@model IEnumerable<SPS.Models.User_Id>

@{
    ViewData["Title"] = "user_Table";
}

<h1>user_Table</h1>

<p>
    <a asp-action="user_Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>

                <a asp-action="user_Delete" asp-route-id="@item.Email">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
